.kdosl { 
  margin-top: 14px;
  padding-right: 2px;
  font-size: 43px;
  border-left-width: 28px;
  padding-left: 82px;
  border-left-width: 43px;
  margin-left: 39px;
  font-size: 41px;
  margin-top: 76px;
}
