.kdosl { 
  margin-top: 14px;
  padding-right: 2px;
  font-size: 43px;
  border-left-width: 28px;
  padding-left: 82px;
  border-left-width: 43px;
  margin-left: 39px;
  font-size: 41px;
  padding-right: 76px;
  border-right-width: 46px;
  padding-bottom: 63px;
  padding-left: 95px;
  padding-bottom: 86px;
  font-size: 69px;
  line-height: 36px;
  font-size: 90px;
  border-bottom-width: 90px;
  margin-right: 47px;
  padding-left: 63px;
  padding-left: 31px;
  border-bottom-width: 60px;
  margin-bottom: 71px;
}
